.alertContainer {
  height: 80px; /* Reserve space for the alert */
  display: flex;
  align-items: center; /* Center the alert vertically */
  justify-content: center; /* Center the alert horizontally */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove padding */
}

.customAlert.hidden {
  opacity: 0;
}

.customAlert {
  width: 50%; /* Default width for larger screens */
  height: auto; /* Automatically adjust height */
  margin: 15px auto;
  text-align: center; /* Center the content */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .customAlert {
    width: 90%; /* Increase width to take more space horizontally */
    margin: 10px auto; /* Adjust margin for smaller screens */
    padding: 10px; /* Add padding to reduce cramped content */
  }
}

@media (max-width: 480px) {
  .customAlert {
    width: 95%; /* Almost full width for very small screens */
    margin: 8px auto;
    padding: 8px;
  }
}
